/*签约记录*/
.LefG{position: relative;top: 3px}
.Hbvd .pion dl dd.bvjt {height: 25px}
#shame .pion dl{margin: 0px}
.Hbvd .desi{height: 1px;line-height: 1px;margin-top: 5px}
.depen ul.design{margin: 20px auto 0}
#shame .outi{height: 150px;padding-bottom: 30px;border-bottom: 1px dashed #e5e5e5}
#shame .outi ul{margin: 0px}
.Hbvd .pion{padding: 8px 0px 20px}
.renwxx{color: #585858;font-size: 16px;font-weight: 500;height: 40px;line-height: 40px;}
#shame .plan .outid{margin-bottom: 20px}
#shame .plan .outie,.plan .outid{border-collapse: collapse;width: 100%}
#shame .plan .outie td,.plan .outie th,.plan .outid td,.plan .outid th{border: 1px solid #c5c5c5;text-align: center;color: #888}
#shame .plan .outie td a img{position: relative;top: 3px}
#shame .plan .outie td .pstate {border: 1px solid #f86d0d;color: #f86d0d;font-size: 10px;padding: 2px}
#shame .plan .outie tr .jine span{color: #F86D0D}
#shame div#A1{position: relative;}
#shame .plan .outie tr .butoun b{padding: 1px 2px;border: 1px solid #888;font-size: 12px;cursor: pointer;}

#filedi{position: absolute; top: 307px; background-color:rgba(249,108,12,0.95); border: 1px solid #f86d0d;display: none;float: left;height: 60px;
    font-size:12px;line-height: 18px;padding: 10px;width: 245px;margin-left: 425px; z-index: 101}
#filedi input:nth-child(2) {background: #ffffff none repeat scroll 0 0;border: 1px solid #f86d0d;color: #f86d0d;cursor: pointer;float: right;margin-right: 8px;margin-top: -26px;padding: 0 5px}

#filedi label{color:#fff;position: absolute;top: -8px ;left: 254px; font-size: 1.5em;background-color:#000000;background-color:rgba(0,0,0,0.1);
}
.Send li.card2{border-color: #f86d0d}
.Send li.card2 b.bhngc{background-color: #f86d0d}
.Send li.card4 span.Ntygu b.Wed{color: #f86d0d}
.depen ul.design li input.fffx{color: #f86d0d}
.depen ul.design li a{color: #f86d0d}

#shame .qsget{margin: 20px 0px 20px 30px;width: 850px;position: relative;}
#shame .qsget .Tjum{background: #ffffff none repeat scroll 0 0;border: 1px solid #737357;color: #737357;height: 28px;line-height: 24px;padding: 0 6px;margin-bottom: 10px}
.qsget td{border:1px solid #b2b2b2;height: auto;text-align: center;}
.qsget .fileou{position: relative;z-index: 444}
.qsget #fileou{background: #fff none repeat scroll 0 0;border: 1px solid #F86D0D;width: 245px;height: 30px;line-height: 30px;float: left;padding: 10px;display: none;}
.qsget #fileou input:nth-child(2){background: #ffffff none repeat scroll 0 0;border: 1px solid #F86D0D;color: #F86D0D;cursor: pointer;margin-top: -26px;padding: 0 5px;float: right;margin-right: 8px;}
.qsget #fileou label{position: relative;top: -18px;left: 9px;font-size: 1.5em}
/*作品管理*/
#Hxedu{padding: 0}
.upload .Bsvy a{background-color: #F86D0D;font-size: 14px;cursor: pointer;margin-top: 1px}
.upload .Bsvy a:hover{background-color: #fc893b}
#Hxedu ul li.Th{cursor: pointer;}
#Hxedu ul li.hu_b,#Hxedu ul li.Th:hover{color: #fff;background-color: #fc893b;border-radius: 3px}
/*上传作品*/
.Jzhne ul li .Bchu_1,.Jzhne ul li .Bchu_2:hover{background-color: #F86D0D}
.Jzhne ul li input.ffbg_1{width: 300px;}
.Jzhne ul li input,.Jzhne select.Bgtds{border-radius: 0px}


.depen .tujab{border-top: 1px dashed #e5e5e5}
.depen .tujab .tujob{border-radius: 3px;margin-left: 30px;width: 120px;height: 35px;font-size: 15px;background-color: #f86d0d;margin-top: 15px;font-weight: bold;color: #fff}
.depen .tujab .tujaba{margin-left: 20px}
.depen .tujab .tujaba span span{color: #f86d0d}


#shame #sid_1 #Tloex_GL .ongu{width: auto}
#shame #sid_1 #Tloex_GL .ongu .Ghny{width: auto;margin-top: 0}
.OPhya {height: auto;margin: 33px auto 0;position: relative;width: 880px}
.OPhya .Uiaqw {color: #737373;font-size: 15px;height: 50px;line-height: 50px;margin: 0 auto;text-align: center;width: 600px}
#Bthk ul li .Bchu_1{background-color: #F86D0D}
