/*头部选中*/
.header_navBox ul li a.headxz{border-bottom: 2px solid #f86d0d}
/*项目大厅*/
div #Hennd ul li.hu_b{background: #F86D0D}
.bff:hover{background-color: #F86D0D;border-radius: 3px}
.bff:hover a{color: #fff}
#Hyuex h3 span {background: #fff;color: #F86D0D}
#Hyuex h3 .Biop {background: #F86D0D}
#Hyuex h3 .Biop a{color: #fff}
#tment_W .Tsqu .Shyf_1 .gtvd li.tbbxs ul li.Nghm_4 a {background: #F86D0D}
#tment_W .Tsqu .Shyf_1 .gtvd li.tbbxs ul li.Nghm_4 a:hover {background: #fc893b}
#tment_W .Tsqu .Shyf_1 .gtvd li.tbbxs ul li.Nghm_2 a {color: #F86D0D}
#tment_W .make .Ation input.OK_t {background: #F86D0D}
#pagestyle a.current {background: #F86D0D}
#pagestyle a:hover {background: #F86D0D}
#tment_W{position: relative;z-index: 101}
#Dvte ul.bBtn_1 li.yedv_A li.Xiaoq_1{width: 45px;}
#Dvte ul.bBtn_1 li.yedv_A li.Xiaoq_2{width: 185px;}
#Dvte ul.bBtn_1 li.yedv_A li.Xiaoq_3{width: 380px;}
#Dvte ul.bBtn_1 li.yedv_A li.Xiaoq_4{width: 80px;}
#Dvte ul.bBtn_1 li.yedv_A li.Xiaoq_5{width: 90px;}
#Dvte ul.bBtn_1 li.yedv_A li.Xiaoq_6{width: 95px;}
#Dvte ul.bBtn_1 li.yedv_C{height: 60px;}
#Dvte ul.bBtn_1 li.yedv_C a{float: left;float: left;display: block;background: none; width: 100%;height: 60px; position: absolute;top: 0;left: 0;}
#Dvte ul.bBtn_1 li.yedv_C a ul.Getdx_1{height: 60px;}
#Dvte ul.bBtn_1 li.yedv_C a ul li{height: 60px;line-height: 60px}
#Dvte ul.bBtn_1 li.yedv_C a ul li.Xiaoq_3{height: 60px;line-height: 60px;overflow: visible;}
#Dvte ul.bBtn_1 li.yedv_C a ul li.Xiaoq_3 div{line-height: 20px;height: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;text-align: left;}
#Dvte ul.bBtn_1 li.yedv_C a ul li.Xiaoq_3 div:nth-child(1){font-weight: bold;}
#Dvte ul.bBtn_1 li.yedv_C a ul li.Xiaoq_3 div:nth-child(2){font-size: 12px}
/*任务详情*/
#cheng .Send li.card2{margin-top: 10px;border-color: #F86D0D}
#cheng .Send li.card2 b{font-size: 13px}
#cheng .Send li.card3{margin-top: 10px;margin: 5px 40px 0 0}
#cheng .stage .Parti a:hover{background: #F86D0D;border-color: #F86D0D}
#cheng .Hbvd .pion dl dd.bvjt{height: auto}
#cheng .spend .Rgvc .Vdxs .There .face img{margin-top: 84px;position: relative;left: 40px}
#cheng .spend .Rgvc .Vdxs .There .face a{color: #F86D0D;text-decoration: none;}
#cheng .depen ul.design li .stages ul.muctf li,#cheng .depen ul.design li .stages ul.muctf li.Fpay_3 input.Fpby{width: 140px}

#cheng .Send li.card2 b.bhngc,#Barfn .Fgdut span,#cheng #Rnnhj .make .Ation input.OK_t,#cheng .strial .Complaint a.laint,#cheng .Shyf .gtvd li.tbbxs ul li.Nghm_4 a,#cheng .depen ul.design li .Bchu_1,#cheng .spend .Rgvc .Vdxs .arned .tybx li.hu_b{background: #F86D0D}
#cheng .Send li.card4 span.Ntygu b.Wed,#cheng .depen ul.design li input.fffx,#cheng .strial .willt li.nbun,#cheng .Shyf .gtvd li.tbbxs ul li.Nghm_2 a,#cheng .depen ul.design li a,#cheng #ltyh .htnk span.pyuj{color: #F86D0D}
#cheng .strial .willt li.uir1{color: #737373}
.fenye .pagination li a{color: #d7d7d7}
.fenye .pagination li a:hover{color: #f86d0d}

.Hbvd .pion{padding: 8px 0px 20px}
.renwxx{color: #585858;font-size: 16px;font-weight: 500;height: 40px;line-height: 40px;}
.plan .outid{margin-bottom: 20px}
.plan .outie,.plan .outid{border-collapse: collapse;width: 100%}
.plan .outie td,.plan .outie th,.plan .outid td,.plan .outid th{border: 1px solid #c5c5c5;text-align: center;color: #888}
.plan .outie td a img{position: relative;top: 3px}
.plan .outie td .pstate {border: 1px solid #f86d0d;color: #f86d0d;font-size: 10px;padding: 2px}
.plan .outie tr .jine span{color: #F86D0D}
.depen ul.design{margin-top: 0px}
/*工程师之家*/
#Gxedj ul li.poe:hover{background-color: #f86d0d;border-radius: 3px;padding: 0 3px}
#Gxedj ul li.poe:hover a{color: #fff}
#Gxedj ul li.hu_b{background-color: #f86d0d}
#Dvte .mopc ul.Grd{width: 60%;margin: 12px 0px}
/*#Dvte .mopc ul.Grd{width: 850;margin: 12px auto}*/
#Dvte .mopc ul.Grd li:nth-child(1){border: 1px solid #e5e5e5}
#Dvte .mopc ul.Grd li{width: 24%;height: 36px;line-height: 36px}
/*#Dvte .mopc ul.Grd li{width: 211px;height: 36px;line-height: 36px}*/
#Dvte .mopc ul.Grd li a{font-size: 14px}
#Dvte .mopc ul.Grd li a span img{position: relative;top: 4px;left: 5px}
#Dvte .mopc .forma{height: 125px}
#Dvte .mopc .forma li.H_2{width: 715px}
#Dvte .mopc .forma li.H_2:nth-child(3){margin-top: 10px}
#Dvte .mopc .forma li.H_2{background: url();padding-left: 0px}
#Dvte .mopc .forma li.H_2 span{color: #666}
#Dvte .mopc .forma li.H_2 span:nth-child(2){width: 130px;display: inline;float: right;}
#tment_1 .Capital ul li b{color: #f86d0d}

.provi{width: 300px;height: 200px;background-color: #fff;display: none;border: 1px solid #f86d0d;color: #999;position: relative;left: -70px;z-index: 101}
.provi dl{width: 100%;height: 28%}
.provi .loie{height: 16%}
.provi dt{float: left;width: 15%;height: 100%;cursor: default}
.provi dd{float: left;width: 17%;height: 50%;cursor: pointer}
.provi dd:hover{color: #fff;background-color: #f86d0d}
.provi .loie dt,.provi .loie dd{height: 100%}
/*个人主页*/
body div.dtop div{height: 94px;width: 1212px;margin: 10px auto}
body div.dtop img:nth-child(1){height: 94px;width: 270px;float: left;margin-left: 6px}
body div.dtop img:nth-child(2){height: 94px;width: 920px;float: right}
.Dhein{background-color: #f86d0d;color: #fff}
.Dhein ul li a.Bhua{background-color: #fc893b;font-family: '微软雅黑';font-weight: bold}
#cheng .Ghtbe4{float: right;color: #888}
#cheng .Rnnhj4{float: left;}
#Rnnhj ul.cont_L li.Lian a,.upload ul.works_2 li.Gngt a{background-color: #f86d0d}
#Rnnhj ul.cont_L li.Lian a:hover,.upload ul.works_2 li.Gngt a:hover{background-color: #fc893b}
#cheng .upload ul li.uplo{border-bottom: 1px solid #e5e5e5;border-left: 0 none;border-top: 0 none;color: #666;float: none;font-size: 14px;height: 35px;line-height: 35px;padding-left: 25px;text-align: left;width: auto;font-family: '微软雅黑';font-weight: bold}
.upload ul.works{height: auto}
.upload ul.works li.uplo_2{height: 70px}
.upload div.Bgqqp{background: rgba(0, 0, 0, 0) url('../images/works.png') no-repeat scroll 323px 71px}
.upload .Bgppq{width: 97%;height: auto;margin: 10px auto}
.upload .Bgppq ul{width: 100%;height: 60px;line-height: 60px;max-height:60px;color: #777;border-bottom: 1px solid #ccc}
.upload .Bgppq ul:nth-child(1){color: #555;height: 30px;line-height: 30px;background-color: #eee}
.upload .Bgppq ul li{float: left;}
.upload .Bgppq ul li:nth-child(1){width: 20%;font-size: 13px}
.upload .Bgppq ul li:nth-child(2){width: 44%}
.upload .Bgppq ul li:nth-child(2) div{height: 20px;line-height: 20px}
.upload .Bgppq ul li:nth-child(3){width: 18%}
.upload .Bgppq ul li:nth-child(4){width: 18%}

.upload ul.works_1 li.Own{height: 340px}
.upload ul.works_1 li.Dhbn_B{width: 600px;height: auto;line-height: normal;padding: 5px 0}
.upload ul.works_1 li.Dhbn_B span{font-weight: normal;float: left;display: block;width: 500px}
.upload ul.works_1 li.Dhbn_B div{padding: 3px 0;overflow: hidden;}
.upload ul.works_1 li.Dhbn_B p{float: left;text-indent: 2em;}
/*作品详情页*/
#Ghtbe .simple dd.brie{text-align: center;}
#Ghtbe .simple dd.brie div{display:inline-block;*display:inline;*zoom:1;}
#Ghtbe .simple dd.brie div p{text-align: left;}
#Ghtbe #chenjiao{padding: 10px 10px 5px;margin-bottom: 0;border-bottom: 0}
#Ghtbe #oabsu{width: 900px;margin-bottom: 15px;padding: 5px 10px 30px 10px;background-color: #fff;border: 1px solid #e5e5e5;border-top: 0}
/*成功案例*/
#cheng .rsudws,#cheng .rsudws .works_2{width: 100%}
#cheng .rsudws ul li.uplo{font-size: 16px;margin-bottom: 10px;font-family: '微软雅黑';padding-left: 0px;height: 40px;line-height: 40px;border-color: #f86d0d}
#cheng .rsudws ul li.uplo b{height: 40px;line-height: 40px;padding: 9px 12px;background-color: #f86d0d;color: #fff}
#cheng .rsudws ul li.uplo b span{color: #fff}
/*#cheng .rsudws ul li.uplo{font-size: 16px;margin-bottom: 10px;font-family: '微软雅黑';padding-left: 0px;height: 40px;line-height: 40px}
#cheng .rsudws ul li.uplo b{background-color: #e4e4e4;height: 40px;line-height: 40px;padding: 9px 12px}
#cheng .rsudws ul li.uplo b span{color: #666}*/
#cheng .rsudws li.UIf p{margin: 0 auto;width: 250px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#cheng .rsudws li.UIf p:nth-child(2){margin-top: 10px}
/*案例详情*/
#cheng .rsudwsd{width: 100%;overflow: hidden;}
#cheng .rsudwsd div.uplo{border-bottom: 1px solid #e5e5e5;border-left: 0 none;border-top: 0 none;color: #666;float: none;font-size: 14px;height: 35px;line-height: 35px;padding-left: 25px;text-align: left;width: auto;font-family: '微软雅黑';font-weight: bold}
/*16/12/21*/#cheng .rsudwsd div.uplo{height: 80px;line-height: 80px;color: #333;font-size: 22px;font-family: '微软雅黑';}
#cheng .rsudwsd li.UIf p{margin: 0 auto;width: 250px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#cheng .rsudwsd li.UIf p:nth-child(2){margin-top: 10px}
/*16/12/21*/#cheng .rsudwsd ul.works_2{float: left}
/*16/12/21*/#cheng .rsudwsd div.rsuste{width: 900px;float: left;border-right: 1px solid #e5e5e5}
#cheng .rsudwsd div.rsuste table{border-collapse: collapse;color: #767676}
#cheng .rsudwsd div.rsuste table td,#cheng .rsudwsd div.rsuste table th{border: 1px solid #c5c5c5;text-align: center;}
/*16/12/21*/#cheng .rsudwsd div.rsuste .rsusteld{width: 900px;margin: 0 auto}
/*16/12/21*/#cheng .rsudwsd div.rsuste .rsusteld p{color: #666;height: 24px;line-height: 24px;margin-left: 14px}
/*16/12/21*/#cheng .rsudwsd div.rsuste .rsusteld p:nth-child(1){margin-top: 10px}
#cheng .rsudwsd div.rsustedf{width: 280px;float: right;margin: 14px 14px 0 0}
/*16/12/21*/.rsustedf #tment_W,.rsustedf #tment_W .Tsqu,.rsustedf #tment_W .Tsqu .Shyf_1 .gtvd,.rsustedf #tment_W .Tsqu .Shyf_1 .gtvd .tbbxs,.rsustedf #tment_W .Tsqu .Shyf_1 .gtvd li.tbbxs ul{width: 100%;height: auto;border: 0}
.rsustedf #tment_W{margin-bottom: 0}
.rsustedf #tment_W .Tsqu .Shyf_1{width: 97%}
.rsustedf #tment_W .Tsqu .Shyf_1 .gtvd li.tbbxs ul li{height: 24px;line-height: 24px}
.rsustedf #tment_W .Tsqu .Shyf_1 .gtvd li.tbbxs ul li.Nghm_1{height: 115px;width: 106px;margin-bottom: 15px}
.rsustedf #tment_W .Tsqu .Shyf_1 .gtvd li.tbbxs ul li.Nghm_1 img{height: 106px;width: 106px}
.rsustedf #tment_W .Tsqu .Shyf_1 .gtvd li.tbbxs ul li.Nghm_2 a{float: left;font-size: 16px}
.rsustedf #tment_W .Tsqu .Shyf_1 .gtvd li.tbbxs ul li.Nghm_2 span{float: right;color: #696969;font-size: 15px}
.rsustedf #tment_W .Tsqu .Shyf_1 .gtvd li.tbbxs ul li.Nghm_3{font-size: 13px}
/*.rsustedf #tment_W .Tsqu .Shyf_1 .gtvd li.tbbxs ul li.Nghm_3 b{height: 32.5px;line-height: 32.5px}*/
.rsustedf #tment_W .Tsqu .Shyf_1 .gtvd li.tbbxs ul li.Nghm_4 a{padding: 5px 8px}
