.nav_wp {
	border-bottom: 1px solid #dedede;
}

.content {
	border-bottom: 1px solid #ddd;
}

.content1 {
	padding: 24px 0 40px 0;
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
}

.content1 .content_left {
	float: left;
	width: 240px;
}

.content_left .Leftmenu1 {
	background: #f4f4f4;
	height: 208px;
}

.content_left .Leftmenu1 .headportrait {
	text-align: center;
	padding-top: 13px;
}

.content_left .Leftmenu1 .headportrait img {
	border: 2px solid #fff;
	border-radius: 50px;
}

.content_left .Leftmenu1 h2 {
	font-size: 14px;
	font-weight: 600;
	color: #616060;
	text-align: center;
}

.content_left .Leftmenu1 h2 span {
	color: #ee4358;
	padding-left: 3px;
}

.content_left .binding {
	margin: 10px 0;
	text-align: center;
}

.content_left .binding .info {
	height: 28px;
	line-height: 28px;
	color: #515151;
	font-size: 14px;
	margin: 0 10px;
	background: url("../images/binding.png") no-repeat;
	padding-left: 32px;
	display: inline-block;
	position: relative;
}

.content_left .binding .tel_info .phonetips {
	background: url("../images/lefttip.png") no-repeat;
	height: 60px;
	position: absolute;
	right: -40px;
	top: -47px;
	width: 147px;
}

.content_left .binding .megs_info .messagetips {
	background: url("../images/lefttip.png") no-repeat;
	height: 60px;
	position: absolute;
	right: -40px;
	top: -47px;
	width: 147px;
}

.content_left .binding .tel_info .phonetips p,.content_left .binding .megs_info .messagetips p {
	color: #cd782c;
	height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 37px;
}

.content_left .binding .tel_info .phonetips p a,.content_left .binding .megs_info .messagetips p a {
	color: #0196eb;
	margin-left: 5px;
}

.content_left .binding .phone {
	background-position: -3px -61px;
}

.content_left .binding .phone1 {
	background-position: -3px -13px;
}

.content_left .binding .phone2 {
	background-position: -3px -111px;
}

.content_left .binding .you {
	background-position: -85px -61px;
}

.content_left .binding .you1 {
	background-position: -85px -13px;
}

.content_left .binding .you2 {
	background-position: -85px -111px;
}

.content_left .xydj {
	text-align: center;
}

.content_left .xydj i {
	color: #616060;
	font-size: 14px;
	line-height: 28px;
	height: 28px;
	width: 64px;
	display: inline-block;
}

.content_left .xydj span {
	color: #22ac38;
	font-size: 14px;
	width: 127px;
	text-align: right;
	display: inline-block;
	margin-left: 6px;
	height: 28px;
	line-height: 28px;
}

.content_left .xydj .grade {
	background: url("../images/evaluate.png") no-repeat left -72px;
}

.content_left .xydj .grade1 {
	background: url("../images/evaluate.png") no-repeat left 8px;
}

.content_left .xydj .grade2 {
	background: url("../images/evaluate.png") no-repeat left -31px;
}

.Leftmenu2 .ml_link {
	background: #b3c6d4;
	overflow: hidden;
}

.Leftmenu2 .ml_link .ml_onpay {
	width: 105px;
	background: url("../images/leftico.png") no-repeat 23px 12px;
	padding-left: 57px;
}

.Leftmenu2 .ml_link .ml_onpay:hover {
	color: #616060;
}

.Leftmenu2 .ml_link a {
	color: #616060;
	display: inline-block;
	float: left;
	font-weight: normal;
	height: 38px;
	font-size: 14px;
	line-height: 38px;
}

.Leftmenu2 .ml_link .ml_price {
	color: #fd3a00;
}

.managerList {
	width: 240px;
}

.managerList .first {
	float: left;
	position: relative;
	width: 240px;
}

.managerList li .cur {
	float: left;
	text-indent: 56px;
	width: 240px;
	background: #e5e5e5;
}

.managerList .first p span a {
	color: #4f4f4f;
	font-size: 14px;
	text-decoration: none;
	font-weight: 600;
}

.managerList .first p span a:hover {
	color: #4f4f4f;
}

.managerList .first p span.open {
	background: url("../images/manager/close.gif") no-repeat;
	display: inline-block;
	height: 12px;
	position: absolute;
	right: 8px;
	top: 11px;
	width: 12px;
}

.managerList .first p span.close {
	background: url("../images/manager/open.gif") no-repeat;
	display: inline-block;
	height: 12px;
	position: absolute;
	right: 8px;
	top: 11px;
	width: 12px;
}

.managerList .first p span {
	background-image: url("../images/manager/leftico.png");
	background-repeat: no-repeat;
	display: block;
	height: 35px;
	line-height: 35px;
}

.managerList .first .style0 {
	background-position: 23px -38px;
}

.managerList .first .style1 {
	background-position: 23px -88px;
}

.managerList .first .style2 {
	background-position: 23px -138px;
}

.managerList .first .style3 {
	background-position: 23px -188px;
}

.managerList .first .style4 {
	background-position: 23px -238px;
}

.managerList .first .style5 {
	background-position: 23px -288px;
}

.managerList li ul {
	float: left;
	width: 240px;
}

.managerList .second li {
	cursor: pointer;
	display: block;
	float: left;
	font-weight: normal;
	line-height: 42px;
	text-indent: 48px;
	width: 240px;
	height: 42px
}

.managerList .second li a {
	background: #f4f4f4;
	color: #4f4f4f;
	font: 14px/32px "Simsun";
	display: block;
	text-decoration: none;
	height: 42px
}

.managerList .second a:hover,.managerList .second .cur a {
	border: 1px solid #f4be78;
	border-right: 1px solid #fff;
	background: url(/images/nimg/manager/leftarrow.gif) no-repeat 35px center scroll #fffdf4;
	height: 40px;
	line-height: 40px;
	text-indent: 48px
}

.managerList li.first ul.second li a.current {
	border: 1px solid #f4be78;
	border-right: 1px solid #fff;
	background: url(/images/nimg/manager/leftarrow.gif) no-repeat 35px center scroll #fffdf4;
	height: 40px;
	line-height: 40px;
	text-indent: 48px
}

.Leftmenu2 .Logout {
	background: #c7d8e2;
	height: 38px;
	width: 240px;
	overflow: hidden;
}

.Leftmenu2 .exit {
	background: url("../images/leftico.png") no-repeat 23px -336px;
	color: #4f4f4f;
	display: block;
	float: left;
	font-size: 14px;
	height: 38px;
	line-height: 38px;
	text-decoration: none;
	text-indent: 48px;
	width: 240px;
}

.icoQiang {
	background: url("../images/qiang.gif") no-repeat;
	height: 23px;
	margin: -10px 0 0 3px;
	position: absolute;
	width: 20px;
}

.icoNew {
	background: url("../images/ico_top_news.gif") no-repeat;
	height: 14px;
	margin: -6px 0 0 3px;
	position: absolute;
	width: 22px;
}

.content1 .content_right {
	float: right;
	width: 930px;
}

.content_right .RightTimewarp {
	background: #f4f4f4;
	padding-left: 24px;
	overflow: hidden;
	margin-bottom: 18px;
	height: 38px;
	line-height: 38px;
}

.content_right .RightTimewarp p {
	float: left;
	height: 38px;
	line-height: 38px;
	color: #616060;
}

.content_right .RightTimewarp .more {
	float: right;
	margin-right: 50px;
	color: #ee4358;
	height: 38px;
	line-height: 38px;
}

.red_ef {
	color: #ee4358;
}

.content_right .RightInfowarp {
	height: 150px;
	margin-bottom: 18px;
}

.content_right .RightInfowarp ul {
	height: 100%;
	margin: 0;
	padding: 0;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
}

.content_right .RightInfowarp ul  li {
	display: inline-block;
	float: left;
	height: 150px;
	width: 115px;
	border-right: 1px solid #e8e8e8;
}

.content_right .RightInfowarp ul li a {
	background: url("../images/Right_liapic.png") no-repeat;
	display: inline-block;
	margin-top: 36px;
	padding-top: 60px;
	text-align: center;
	width: 100%;
	font-size: 14px;
}

.content_right .RightInfowarp ul .cur a {
	background: url("../images/Right_liapic_on.png") no-repeat;
	color: #ee4358;
}

.RightInfowarp ul li #liaPic1 {
	;background-position: center -3px;
}

.RightInfowarp ul li #liaPic2 {
	background-position: center -92px;
}

.RightInfowarp ul li #liaPic3 {
	background-position: center -184px;
}

.RightInfowarp ul li #liaPic4 {
	background-position: center -270px;
}

.RightInfowarp ul li #liaPic5 {
	background-position: center -363px;
}

.RightInfowarp ul li #liaPic6 {
	background-position: center -452px;
}

.RightInfowarp ul li #liaPic7 {
	background-position: center -539px;
}

.RightInfowarp ul li #liaPic8 {
	background-position: center -621px;
}

.manager_title {
	height: 42px;
	line-height: 42px;
}

.manager_title .left {
	border-left: 3px solid #ee4258;
	font-size: 14px;
	color: #616060;
	padding-left: 10px;
	font-weight: 600;
	width: 200px;
}

.manager_title .tuijian {
	width: 800px;
	text-align: right;
	display: inline-block;
}

.manager_title .tuijian a {
	color: #fe6d1e;
}

.content_right .xinxi {
	border: 1px solid #ccd6e0;
	margin-bottom: 25px;
}

.content_right .xinxi .xinxitop {
	padding: 16px 0;
	overflow: hidden;
	border-bottom: 1px solid #ccd6e0;
}

.content_right .xinxi .xinxitop .xinxitop_left {
	float: left;
	border-right: 1px dashed #ccd6e0;
	height: 157px;
	width: 530px;
}

.content_right .xinxi .xinxitop .xinxitop_left .xinxitop_leftcon {
	height: 28px;
	padding: 20px 0;
}

.content_right .xinxi .xinxitop .xinxitop_left .fl_title {
	width: 226px;
	float: left;
	padding-left: 15px;
	height: 28px;
}

.content_right .xinxi .xinxitop .xinxitop_left .price,.xinxicen_left .price {
	font-size: 22px;
	line-height: 22px;
}

.content_right .xinxi .xinxitop .xinxitop_left .yuan,.xinxicen_left .yuan {
	color: #b5b3b4;
}

.content_right .xinxi .xinxitop .xinxitop_left a {
	width: 84px;
	height: 42px;
	line-height: 42px;
	color: #fff;
	font-weight: 600;
	background: #fe6d1e;
	display: inline-block;
	text-align: center;
	margin-right: 15px;
}

.content_right .xinxi .xinxitop .xinxitop_left .ymjycz {
	background: #3d79c1;
}

.content_right .xinxi .xinxitop .xinxitop_right {
	float: right;
	width: 340px;
}

.content_right .xinxi .xinxitop .xinxitop_right ul li {
	line-height: 30px;
}

.blue_01 {
	color: #3c79c0;
}

.red_ec {
	color: #fe6d1e;
}

.weiyanzheng {
	background: url("../images/leftico.png") no-repeat 0px -443px;
	padding-left: 20px;
	padding-left: 20px;
	margin-left: 20px;
	padding-top: 1px
}

.yiyanzheng {
	background: url("../images/leftico.png") no-repeat 0px -396px;
	padding-left: 20px;
	padding-left: 20px;
	margin-left: 20px;
	padding-top: 1px
}

.green_ec {
	color: #34b034;
}

.content_right .xinxi .xinxicen {
	height: 163px;
}

.content_right .xinxi .xinxicen .xinxicen_left {
	float: left;
	border-right: 1px solid #ccd6e0;
	height: 163px;
	line-height: 200px;
	padding-right: 20px;
	width: 511px
}

.content_right .xinxi .xinxicen .xinxicen_left img {
	padding-left: 20px;
}

.content_right .xinxi .xinxicen .xinxicen_right {
	float: right;
	width: 350px;
}

.content_right .xinxi .xinxicen .xinxicen_right p {
	color: #4f4f4f;
	padding-top: 55px;
	float: left;
}

.content_right .xinxi .xinxicen .xinxicen_right p span {
	font-weight: 600;
}

.content_right .xinxi .xinxicen .xinxicen_right img {
	width: 128px;
	height: 128px;
	float: left;
	padding: 17px 0 0 28px;
}

.content_right .xinxi .xinxibtm {
	height: 44px;
	line-height: 44px;
	background: ##f8f9fd;
	border-top: 1px solid #ccd6e0;
	border-bottom: 1px solid #ccd6e0;
	padding-left: 15px;
}

.content_right .xinxi .xinxibtm span {
	display: inline-block;
}

.content_right .xinxi .xinxibtm a {
	width: 79px;
	height: 44px;
	background: url("../images/WX_login.gif") no-repeat left center;
	display: inline-block;
	color: #fff;
	padding-left: 27px;
	margin-left: 6px;
}

.content_right .xinxi .bdkeyword {
	height: auto;
	line-height: 44px;
	background: ##f8f9fd;
	padding-left: 15px;
	margin: 10px 0;
}

.bdkeyword .f2 {
	float: left;
	width: 160px;
	color: rgb(51,51,51);
	font-size: 15.4px;
	font-weight: bold;
	line-height: 44px;
}

.bdkeyword .f2 i {
	background: url("/images/new16/ico_new.png");
	display: inline-block;
	height: 12px;
	position: absolute;
	width: 28px;
}

.bdkeyword .f1 {
	width: 1000px
}

.bdkeyword .f1 form input {
	float: left;
	height: 50px;
	margin-left: 10px;
}

.bdkeyword .f1 form .keyword {
	border: 1px solid #d9d9d9;
	text-indent: 20px;
	width: 560px;
}

.bdkeyword .f1 form .subbtn {
	background-color: #259add;
	border: medium none;
	color: #fff;
	height: 42px;
	margin-top: 6px;
	width: 120px;
}

.bdkeyword #klists {
	border-collapse: collapse;
	margin: 0 auto;
	width: 840px;
}

.bdkeyword #klists td {
	border: 1px solid #eee;
	height: 50px;
	text-align: center;
	width: 110px;
}

#klists td span {
	color: #f69601;
}

.Righthelpwarp .LeftWarp2 {
	border-top: medium none;
	float: left;
}

.Righthelpwarp .LeftWarp2 .tabNav {
	border-left: 1px solid #ccd6e0;
	height: 37px;
}

.Righthelpwarp .LeftWarp2 .tabNav .current {
	border-top: 2px solid #ee4358;
	color: #ee4358;
	height: 36px;
	line-height: 36px;
	margin-bottom: -1px;
	padding: 0;
	position: relative;
	width: 87px;
	background: #fff;
}

.Righthelpwarp .LeftWarp2 .tabNav li {
	border-top: 1px solid #ccd6e0;
	border-right: 1px solid #ccd6e0;
	color: #666;
	cursor: pointer;
	float: left;
	font: bold 12px/36px "SimSun";
	height: 36px;
	list-style: outside none none;
	text-align: center;
	width: 90px;
	background: #fbfaf8;
}

.Righthelpwarp .LeftWarp2 .tabConent {
	border: 1px solid #ccd6e0;
	color: #333;
	font: 12px/20px "simsun";
	overflow: hidden;
	width: 928px;
}

.Righthelpwarp .LeftWarp2 .tabConent dl {
	float: left;
}

.Righthelpwarp .LeftWarp2 .tabConent dl.subCol12 {
	height: 235px;
	width: 309px;
}

.Righthelpwarp .LeftWarp2 .tabConent .tab_1 dl dd {
	background: url("../images/hotarrow.gif") no-repeat 20px center;
	height: 34px;
	line-height: 34px;
}

.Righthelpwarp .LeftWarp2 .tabConent dl dd a {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 240px;
	padding-left: 60px;
}

.Righthelpwarp .LeftWarp2 .tabConent dl.subCol3 {
	width: 310px;
}

.Righthelpwarp .LeftWarp2 .tabConent dl dt {
	line-height: 33px;
	margin-top: 12px;
	padding-left: 80px;
}

.Righthelpwarp .LeftWarp2 .tabConent dl .help1 {
	background: url("../images/helpimg1.gif") no-repeat 27px center;
	height: 32px;
}

.Righthelpwarp .LeftWarp2 .tabConent dl dd {
	background: url("../images/rightarrow.gif") no-repeat 31px center;
	height: 30px;
	line-height: 30px;
	text-indent: 25px;
}

.Righthelpwarp .LeftWarp2 .tabConent dl dd a {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 306px;
	padding-left: 0;
}

.Righthelpwarp .LeftWarp2 .tabConent dl .help2 {
	background: transparent url("../images/helpimg2.gif") no-repeat 27px center;
	height: 32px;
}

.Rightbecomewarp .LeftWarp3 .tabNav2 {
	border-left: 1px solid #ccd6e0;
	height: 37px;
}

.Rightbecomewarp .LeftWarp3 .tabNav2 li {
	border-top: 1px solid #ccd6e0;
	border-right: 1px solid #ccd6e0;
	color: #666;
	cursor: pointer;
	float: left;
	font: bold 14px/36px "SimSun";
	height: 36px;
	list-style: outside none none;
	text-align: center;
	width: 119px;
	background: #fbfaf8;
}

.Rightbecomewarp .LeftWarp3 .tabNav2 .current {
	border-top: 2px solid #ee4358;
	color: #ee4358;
	height: 36px;
	line-height: 36px;
	padding: 0;
	position: relative;
	width: 122px;
	background: #fff;
	margin-bottom: -1px;
}

.Rightbecomewarp .LeftWarp3 .tabConent2 {
	border: 1px solid #ccd6e0;
	color: #333;
	font: 12px/20px "simsun";
}

.Rightbecomewarp .LeftWarp3 .tabConent2 .zanwu {
	color: #ee4358;
	text-align: center;
	font-size: 14px;
	line-height: 40px;
}

.Rightbecomewarp .LeftWarp3 .tabConent2 .table {
	background: #fff;
	border-top: 1px solid #e1e6eb;
	font-size: 12px;
	margin-top: 8px;
	border-collapse: collapse;
	border-spacing: 0;
}

.Rightbecomewarp .LeftWarp3 .tabConent2 .table thead tr th {
	background-color: #f5f6fa;
	border-bottom: 1px solid #e1e6eb;
	color: #999;
	font-weight: normal;
	padding: 8px;
	text-align: center;
}

.Rightbecomewarp .LeftWarp3 .tabConent2 .table tbody tr td {
	border-bottom: 1px dashed #e1e6eb;
	border-top: 0 none;
	padding: 12px 8px;
	vertical-align: middle;
	text-align: center;
}

.Rightbecomewarp .LeftWarp3 .tabConent2 .table .text-left {
	text-align: left;
}

.Rightbecomewarp .LeftWarp3 .tabConent2 .table #tbinfo tr:hover {
	background: #fef4f5;
}

.Rightbecomewarp .LeftWarp3 .tabConent2 .table tfoot {
	background: #f5f6fa;
	border-top: 1px dashed #e1e6eb;
}

.Rightbecomewarp .LeftWarp3 .tabConent2 .table tfoot tr td {
	padding: 12px 8px;
	vertical-align: middle;
	cursor: pointer;
}

.Rightbecomewarp .LeftWarp3 .tabConent2 .pull-left {
	float: left !important;
}

.Rightbecomewarp .LeftWarp3 .tabConent2 .pull-left #renew {
	display: inline;
	height: 30px;
	line-height: 27px;
	width: 80px;
	border: 1px solid #ddd;
	background: #f7f7f7;
}

.Rightbecomewarp .LeftWarp3 .tabConent2 .pull-left #renew:hover {
	background: #ee4358;
	color: #fff;
	border: 1px solid #ee4358;
}

.pull-right {
	float: right !important;
}

.pagination-info {
	color: #888;
	display: inline-block;
	padding: 0 16px;
	vertical-align: middle;
}

.pagination {
	border-radius: 0;
	margin: 0;
	vertical-align: middle;
}

.pagination {
	border-radius: 4px;
	display: inline-block;
	padding-left: 0;
}

.pagination  li {
	display: inline;
}

.pagination-goto {
	display: inline-block;
	padding: 0 15px;
	vertical-align: middle;
}

.form-control {
	border: 1px solid #ccc;
	font-size: 12px;
	vertical-align: middle;
}

.pagination-goto input.ipt {
	display: inline-block;
	margin-right: 6px;
	width: 40px;
	height: 30px;
}

.pagination-goto .btn {
	padding: 8px;
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	color: #333;
	border-radius: 0;
	font-size: 12px;
	height: 32px;
	line-height: 14px;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.pagination li  a,.pagination li span {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	float: left;
	line-height: 1.42857;
	margin-left: -1px;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
}

.pagination li.active a,.pagination li.active span {
	background-color: #ee4358;
	border: 1px solid #ee4358;
	color: #fff;
}

.rede6 {
	color: rgb(230,0,0);
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
}

img,select,input {
	vertical-align: middle;
}

.table2 td .inputStyle {
	padding-top: 4px;
	display: block;
}

.table2 {
	margin: 0px auto;
	border: 1px solid rgb(215,215,215);
}

.table2 td,.table2 th {
	border-top: 1px solid rgb(215,215,215);
	height: 40px;
	color: rgb(40,40,40);
	font: 12px/40px "Simsun";
	border-right: 1px solid rgb(239,239,239);
	padding-left: 6px;
}

.table11 {
	text-align: center;
	width: 100%;
	border-left: 1px solid rgb(226,226,226);
}

.table11 th,.table11 td {
	height: 34px;
	line-height: 34px;
	border-right: 1px solid rgb(226,226,226);
	border-bottom: 1px solid rgb(226,226,226);
	vertical-align: middle;
	padding-left: 2px
}

.pad140 {
	padding: 14px 0;
}

.pad60 {
	padding: 6px 0;
}

.wid290 {
	width: 290px;
}

.inputStyle2 {
	overflow: hidden;
}

.inputStyle2 em {
	color: #333;
	float: left;
	font: 14px/32px "Simsun";
	padding: 0 10px;
	text-align: right;
	vertical-align: middle;
}

.inputStyle2 em.inputTitle1 {
	width: 155px;
}

em,i {
	display: block;
}

.inputStyle2 em.inputMesage2 {
	color: #333;
	font: bold 14px/32px "Simsun";
}

.wid175 {
	width: 175px;
}

.inputStyle2 i {
	clear: both;
	color: #777;
	font: 12px/20px "Simsun";
	height: 20px;
	padding-left: 175px;
}

.inputStyle2 span input {
	background: rgba(0,0,0,0) url("/images/nimg/manager/inputBgLeft.gif") no-repeat scroll 0 0;
	border: medium none;
	color: #555;
	float: left;
	font: 12px/30px "Simsun";
	height: 32px;
	margin: 0;
	padding-left: 5px;
}

.inputStyle2 select {
	margin-top: 6px;
	width: 135px;
}

.submitQuery.submit1 {
	margin: 0 auto;
	overflow: hidden;
	width: 300px;
}

.submitQuery {
	padding: 10px 0;
	width: 100%;
}

.inputStyle2 em.inputMesage3 {
	color: #777;
	font: 12px/32px "Simsun";
}

.importantTips h2 {
	background-color: #ef5613;
	color: #fff;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	margin-bottom: 11px;
	padding-left: 10px;
	width: 90px;
}

.importantTips p {
	background: transparent url("/images/nimg/manager/if_arrow.gif") no-repeat scroll 2px -93px;
	color: #666;
	line-height: 24px;
	padding-left: 14px;
}

.inputStyle {
	float: left;
	height: 32px;
}

.inputStyle input {
	font: 12px/28px "Simsun";
	color: rgb(85,85,85);
	float: left;
	height: 32px;
	border: medium none;
	padding-left: 5px;
	background: transparent url('../images/inputbgleft.gif') no-repeat scroll 0px 0px;
}

.inputStyle input.cur {
	color: rgb(85,85,85);
	float: left;
	height: 32px;
	border: medium none;
	padding-left: 5px;
	background: transparent url('../images/inputbgleft.gif') no-repeat scroll 0px 0px;
}

.inputStyle span.right {
	float: left;
	height: 32px;
	background: transparent url('../images/inputbgright.gif') no-repeat scroll 0px 0px;
	padding-left: 20px;
	color: rgb(102,102,102);
}

.inputStyle span.cur {
	float: left;
	height: 32px;
	background: transparent url('../images/inputbgright.gif') no-repeat scroll 0px 0px;
	border: medium none;
	text-decoration: none;
	padding-left: 20px;
}

.inputStyle2 {
	overflow: hidden;
	margin-left: 250px;
}

.inputStyle2 em {
	float: left;
	padding: 0px 10px;
	text-align: right;
	font: 14px/32px "Simsun";
	color: rgb(51,51,51);
	vertical-align: middle;
}

em,i {
	display: block;
}

.inputStyle2 span input {
	font: 14px/30px "Simsun";
	color: rgb(85,85,85);
	float: left;
	height: 32px;
	border: medium none;
	padding-left: 5px;
	background: transparent url('../images/inputbgleft.gif') no-repeat scroll 0px 0px;
	margin: 0px;
}

.rede6 {
	color: rgb(230,0,0);
}

.crumbm {
	font: 14px/30px "Microsoft YaHei";
	color: rgb(102,102,102);
	margin-bottom: 2px;
	height: 33px;
	line-height: 33px;
	background: transparent url('../images/if_crumb.gif') no-repeat scroll 0px center;
	width: 100%;
}

.crumbm span,.crumbm strong {
	margin: 0px 3px;
}

.crumbm .site {
	margin-left: 24px;
}

.crumbm .counter {
	float: right;
	display: inline-block;
}

.crumbm .recharge {
	float: right;
	background: transparent url('../images/ico5.gif') no-repeat scroll 0px 0px;
	font-weight: bold;
	display: inline-block;
	width: 79px;
	line-height: 30px;
	text-align: center;
}

.crumbm .moy {
	float: right;
}

.crumbm .recharge:hover {
	background-position: 0px -50px;
	color: rgb(255,255,255);
}

.crumbm .djj_counter {
	background: transparent url('../images/if_rightmoney.gif') no-repeat scroll 0px center;
	float: right;
	padding-left: 30px;
	display: inline-block;
}

.WarmTips {
	background: rgb(255,253,240) none repeat scroll 0% 0%;
	border: 1px dashed rgb(212,180,93);
	color: rgb(100,81,58);
	font-size: 14px;
	line-height: 28px;
	padding: 4px 24px;
}

.WarmTips dt {
	font-weight: bold;
}

.WarmTips dd {
	font-size: 12px;
	margin: 0px
}

.WarmTips dd a {
	font-size: 12px;
	color: rgb(255,0,0);
	padding: 0px 2px;
}

.WarmTips img {
	margin-left: 15px;
	margin-right: 5px;
}

.FriendshipTips {
	background: rgb(242,252,255) none repeat scroll 0% 0%;
	border: 1px dashed rgb(104,180,208);
	color: rgb(81,92,95);
	line-height: 26px;
	padding: 12px 24px;
}

.FriendshipTips dt {
	font-weight: bold;
	font-size: 14px;
}

.FriendshipTips dd.f_t {
	color: rgb(255,0,0);
}

.FriendshipTips dd {
	background: transparent url('../images/arrow.gif') no-repeat scroll 0px -158px;
	padding-left: 16px;
}

.resultWarp {
	position: relative;
	border-top: 4px solid #707070
}

.rightTip {
	position: absolute;
	top: -109px;
	right: 306px;
	background: transparent url('../images/righttipbg_03.gif') no-repeat scroll 0px 0px;
	width: 496px;
	height: 112px;
	padding: 17px 0px;
}

.rightTip li {
	line-height: 28px;
	float: left;
	text-indent: 32px;
	background: transparent url('../images/arrow.gif') no-repeat scroll 19px -123px;
	width: 100%;
}

.certificate {
	cursor: pointer;
}

.btn03 {
	font-size: 14px;
	max-width: 150px;
	overflow: hidden;
	height: 32px;
	padding: 0px 10px;
	margin: 10px 0px 15px 100px;
	background: rgb(245,95,1) none repeat scroll 0% 0%;
	color: rgb(255,255,255);
	font-weight: bold;
	cursor: pointer;
}

.btn03:hover {
	background: rgb(247,119,39) none repeat scroll 0% 0%;
}

input.bfint {
	width: 120px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	border: 1px solid rgb(204,204,204);
	background: rgb(255,255,255) none repeat scroll 0% 0%;
	padding-left: 2px;
	color: rgb(51,51,51);
}

.ss1 {
	background: transparent url('../images/icon_sj01.png') no-repeat scroll right center;
	padding-right: 13px;
}

.ss2 {
	background: transparent url('../images/icon_sj02.png') no-repeat scroll right center;
	padding-right: 13px;
}

.Righthelpwarp1 {
}

.Righthelpwarp1 .LeftWarp2 {
	border-top: medium none;
	background-color: rgb(251,252,254);
	float: left;
}

.Righthelpwarp1 .LeftWarp2 .tabNav {
	height: 46px;
	border-left: 1px solid rgb(221,221,221);
}

.Righthelpwarp1 .LeftWarp2 .tabNav li {
	float: left;
	list-style: outside none none;
	width: 309px;
	height: 46px;
	font: bold 14px/46px "SimSun";
	color: rgb(102,102,102);
	background: transparent url('../images/if_virtabnav.gif') no-repeat scroll right 0px;
	text-align: center;
	cursor: pointer;
}

.Righthelpwarp1 .LeftWarp2 .tabNav .current {
	position: relative;
	width: 309px;
	height: 46px;
	padding: 0px;
	color: rgb(231,2,2);
	background: rgb(251,252,254) url('../images/if_current.gif') no-repeat scroll right 0px;
}

.tabConent_if {
	padding: 0px 21px 20px 20px;
}

.importantTips {
	padding: 10px 14px 14px;
	border: 1px dashed rgb(255,160,36);
	background-color: rgb(255,252,234);
	margin: 11px 0;
}

.importantTips h2 {
	color: rgb(255,255,255);
	background-color: rgb(239,86,19);
	width: 90px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	padding-left: 10px;
	margin-bottom: 11px;
}

.importantTips p {
	line-height: 24px;
	color: rgb(102,102,102);
	padding-left: 14px;
	background: transparent url('../images/if_arrow.gif') no-repeat scroll 2px -93px;
}

#x1 {
	left: 0;
	position: absolute;
	top: -45px;
	width: 590px;
}

.dtop {
	background: transparent url("/newimages/images/manager/drop01.gif") no-repeat scroll center top;
	height: 5px;
}

.dbody {
	background: transparent url("/newimages/images/manager/drop03.gif") repeat-y scroll 0 0;
	color: #474747;
	line-height: 18px;
	padding: 0 8px;
	text-align: left;
}

.dbottom {
	background: transparent url("/newimages/images/manager/drop02.gif") no-repeat scroll center bottom;
	height: 9px;
}

#x2 {
	left: 0;
	position: absolute;
	top: -45px;
	width: 590px;
}

#x3 {
	left: 0;
	position: absolute;
	top: -45px;
	width: 590px;
}

#x4 {
	left: 0;
	position: absolute;
	top: -45px;
	width: 590px;
}

#x5 {
	left: 0;
	position: absolute;
	top: -45px;
	width: 590px;
}

#x6 {
	left: 0;
	position: absolute;
	top: -45px;
	width: 590px;
}

#x7 {
	left: 0;
	position: absolute;
	top: -45px;
	width: 590px;
}

#x8 {
	left: 0;
	position: absolute;
	top: -45px;
	width: 590px;
}

.parlist {
	height: 90px;
	line-height: 90px;
	border: 1px solid rgb(223,222,115);
	padding: 10px;
	margin-top: 10px;
	overflow: hidden;
}

.parlist li {
	margin-left: 5px;
	float: left;
}

.metitle {
	font-size: 20px;
	font-weight: bold;
}

.meline {
	font-size: 20px;
	color: rgb(182,182,182);
}

.memark {
	font-size: 12px;
	color: rgb(153,153,153);
}

li.melink {
	float: right;
	display: block;
	line-height: 33px;
	height: 33px;
	margin-top: 30px;
}

.iconmk {
	background: transparent url('../images/icon-msg2013.png') no-repeat scroll 0px 0px;
	display: inline-block;
	height: 33px;
	vertical-align: middle;
	width: 32px;
	margin-bottom: 10px;
	margin-top: 20px;
}

.icon-yes {
	background-position: -64px 0px;
}

a.alink {
	cursor: pointer;
	text-align: center;
	display: block;
	background: rgb(248,113,34) none repeat scroll 0% 0%;
	color: rgb(255,255,255);
	width: 150px;
	height: 24px;
	line-height: 24px;
}

a.alink:hover {
	color: rgb(238,238,238);
}

a.blink {
	background: #426eb4 none repeat scroll 0 0;
	border: 1px solid #205aa7;
	color: #ffffff;
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	padding: 4px;
	width: 30px;
}

a.blink:hover {
	background: #184785 none repeat scroll 0 0;
	border: 1px solid #103667;
	color: #f1f1f1;
}

a.glink {
	background: #00ae72 none repeat scroll 0 0;
	border: 1px solid #00a06b;
	color: #ffffff;
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	padding: 4px;
	width: 30px;
}

a.glink:hover {
	background: #007f54 none repeat scroll 0 0;
	border: 1px solid #006241;
	color: #f1f1f1;
}

a.olink {
	background: #f55f01 none repeat scroll 0 0;
	border: 1px solid #eb5c02;
	color: #ffffff;
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	padding: 4px;
	width: 30px;
}

a.olink:hover {
	background: #d15405 none repeat scroll 0 0;
	border: 1px solid #b34602;
	color: #f1f1f1;
}

.mobile {
	padding-bottom: 18px;
	margin-bottom: 17px;
	border-bottom: 1px dashed rgb(211,211,211);
}

.mobile p,.mail p {
	padding-left: 27px;
	background: transparent url('../images/if_mobile_p.gif') no-repeat scroll 0px center;
	line-height: 26px;
}

.mobileTitle {
	background: transparent url('../images/if_line.gif') no-repeat scroll 0px bottom;
	padding: 2px 0px;
	background-size: 950px 2px
}

.confirm {
	width: 120px;
	padding-left: 30px;
	line-height: 27px;
	font-size: 16px;
}

.ema {
	background: transparent url('../images/if_mail.gif') no-repeat scroll 0px center;
	height: 27px;
}

.mail {
	padding-bottom: 18px;
	margin-bottom: 17px;
	border-bottom: 1px dashed rgb(211,211,211);
}

.table5 {
	width: 100%;
	border-width: medium 1px 1px;
	border-style: none solid solid;
	border-color: -moz-use-text-color rgb(227,227,227) rgb(227,227,227);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
}

.table5 td {
	padding: 4px 0px 4px 6px;
	line-height: 30px;
}

.Righthelpwarp1 {
}

.Righthelpwarp1 .LeftWarp2 {
	border-top: medium none;
	background-color: rgb(251,252,254);
	float: left;
}

.Righthelpwarp1 .LeftWarp2 .tabNav {
	height: 46px;
	border-left: 1px solid rgb(221,221,221);
}

.Righthelpwarp1 .LeftWarp2 .tabNav li {
	float: left;
	list-style: outside none none;
	width: 309px;
	height: 46px;
	font: bold 14px/46px "SimSun";
	color: rgb(102,102,102);
	background: transparent url('../images/if_virtabnav.gif') no-repeat scroll right 0px;
	text-align: center;
	cursor: pointer;
}

.Righthelpwarp1 .LeftWarp2 .tabNav .current {
	position: relative;
	width: 309px;
	height: 46px;
	padding: 0px;
	color: rgb(231,2,2);
	background: rgb(251,252,254) url('../images/if_current.gif') no-repeat scroll right 0px;
}

.nice-select {
	width: 275px;
	padding: 0px 6px;
	height: 30px;
	border: 1px solid rgb(204,204,204);
	position: relative;
	cursor: pointer;
	background: rgb(255,255,255) url('../images/a2.jpg') no-repeat scroll right center;
}

.nice-select input {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border: 0px none;
	outline: 0px none;
	background: transparent none repeat scroll 0% 0%;
	cursor: pointer;
}

.nice-select ul {
	width: 100%;
	display: none;
	position: absolute;
	left: -1px;
	top: 30px;
	overflow-x: hidden;
	background-color: rgb(255,255,255);
	overflow-y: scroll;
	max-height: 240px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(227,227,227) rgb(204,204,204) rgb(204,204,204);
	z-index: 9999;
}

.nice-select ul li {
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	padding: 0px 10px;
	cursor: pointer;
}

.wid280 {
	width: 280px;
}

.hidden {
	display: none;
}

.initipt {
	background-color: rgb(255,255,255);
	border: 1px solid rgb(204,204,204);
	color: rgb(51,51,51);
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	padding-left: 6px;
}

.as-init {
	color: rgb(255,255,255);
	display: inline-block;
	font-size: 12px;
	overflow: hidden;
	text-align: center;
	border: medium none;
	cursor: pointer;
	padding: 1% 2%;
	width: auto;
}

.a-red {
	background-color: rgb(216,26,23);
}

.a-black {
	background-color: rgb(51,51,51);
}

em,i {
	display: block;
}

.jtop {
	margin-top: 10px;
}

.table1 td,.table1 th {
	border-top: 1px solid rgb(215,215,215);
	height: 31px;
	color: rgb(119,119,119);
	font: 12px/31px "Simsun";
	border-right: 1px solid rgb(239,239,239);
	padding-left: 6px;
}

.table1 {
	margin: 0px auto;
	border: 1px solid rgb(215,215,215);
	border-top: 4px solid #707070;
	margin-top: 25px
}

.grey88 {
	color: rgb(136,136,136);
}

.tab_2 .LoginNotes {
	width: 100%;
	margin: 10px 0px 20px;
}

.tab_2 .LoginNotes li {
	float: left;
	width: 850px;
	height: 34px;
	text-align: left;
	line-height: 34px;
	padding: 0px 10px 0px 20px;
	list-style: outside none none;
	color: rgb(51,51,51);
	font-size: 14px;
}

.tab_2 .LoginNotes .logip {
	float: left;
	background: transparent url('../images/if_arrow1.gif') no-repeat scroll 0px center;
	padding-left: 20px;
	line-height: 34px;
	width: 230px;
}

.tab_2 .LoginNotes .time {
	float: right;
	font-size: 12px;
	line-height: 34px;
}

.borDa {
	border-bottom: 1px dashed rgb(219,219,219);
}

.submitQuery.submit1 {
	width: 300px;
	margin: 0px auto;
	overflow: hidden;
}

.submitQuery {
	padding: 10px 0px;
	width: 100%;
}

.personBtn {
	text-align: center;
	cursor: pointer;
	border: 0px none;
	display: inline-block;
	font-size: 22px;
	line-height: 40px;
	background: transparent url('../images/if_btn.gif') repeat scroll 0% 0%;
}

.btn_get {
	background-position: 0px -280px;
	width: 95px;
	height: 28px;
	color: rgb(255,255,255);
	font: 14px/28px "SinSum";
}

.btn_output {
	background-position: 0px -93px;
	width: 145px;
	height: 44px;
	color: rgb(255,255,255);
}

.btn_output1 {
	background-position: 0px -187px;
	width: 133px;
	height: 40px;
	color: rgb(255,255,255);
}

.btn_output1:hover {
	color: rgb(253,232,232);
}

.btn_again {
	background-position: 0px 0px;
	width: 112px;
	height: 40px;
	color: rgb(102,102,102);
	margin-left: 37px;
}

#payMethod1,#payMethod2,#payMethod3,#payMethod4,#payMethod5 {
	margin-top: -48px;
}

em.payMethod {
	cursor: pointer;
	width: 140px;
	height: 53px;
	display: inline-block;
	border: 1px solid rgb(221,221,221);
}

em.payAlipay {
	background: transparent url('../images/paymethod1.jpg') no-repeat scroll 0% 0%;
}

em.payKuaiqian {
	background: transparent url('../images/paymethod2.jpg') no-repeat scroll 0% 0%;
}

em.payTenpay {
	background: transparent url('../images/paymethod3.jpg') no-repeat scroll 0% 0%;
}

em.payYinlian {
	background: transparent url('../images/paymethod4.jpg') no-repeat scroll 0% 0%;
}

em.paywx {
	background: transparent url('../images/paymethod5.jpg') no-repeat scroll 0% 0%;
}

em.paybline,span.paybline {
	border: 2px solid rgb(247,25,25);
}

.z_bubblebox {
	margin: 0px auto 10px;
	width: 670px;
}

.z_bubblebox .top {
	background: rgb(255,255,255) url('../images/bubble-2.jpg') repeat-x scroll 0px 0px;
	height: 17px;
	width: 670px
}

.z_bubblebox .t_left {
	border: medium none;
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
}

.z_bubblebox .t_right {
	border: medium none;
	display: block;
	float: right;
	margin: 0px;
	padding: 0px;
}

.z_bubblebox .mid {
	background: rgb(255,255,255) url('../images/bubble-5.jpg') repeat-y scroll right center;
	overflow: hidden;
}

.z_bubblebox .m_content {
	background: rgb(255,255,255) url('../images/bubble-4.jpg') repeat-y scroll left center;
	margin: 0px 19px 0px 0px;
	padding: 0px 0px 0px 19px;
}

.z_bubblebox .m_content ol {
	margin: 0px auto;
}

.z_bubblebox .m_content ol,.z_bubblebox .m_content ol li {
	display: block;
	list-style-type: none;
	padding: 0px
}

.z_bubblebox .m_content ol li {
	background: transparent url('../images/assess_icon.gif') no-repeat scroll 0px 7px;
	color: rgb(0,102,204);
	margin: 0px auto;
	padding-left: 10px;
}

.z_bubblebox .m_content ol li {
	color: rgb(0,102,204);
}

.z_bubblebox .bottom {
	background: rgb(255,255,255) url('../images/bubble-7.jpg') repeat-x scroll 0px 0px;
	height: 15px;
}

div.managerMainPlate1 {
	padding-top: 10px;
}

.managerMainPlate1 .title1 {
	height: 27px;
	background-color: #;
}

.managerMainPlate1 .title1 h3 {
	height: 27px;
	line-height: 27px;
	border-left: 3px solid #ee4258;
	font-size: 16px;
	padding-left: 10px;
	color: rgb(51,51,51);
}

div.payMoney {
	padding: 30px 0px;
	overflow: hidden;
}

.payMethod {
	overflow: hidden;
}

.payMethod div.head {
	height: 35px;
	padding-left: 7px;
	font: 12px/35px "Simsun";
	color: rgb(119,119,119);
	border-bottom: 1px solid rgb(204,204,204);
}

.payMethod div.head h3 {
	font: bold 15px/35px "Simsun";
	display: inline;
	color: rgb(255,127,35);
}

.payMethod div.head span.orange {
	color: rgb(255,73,9);
}

.payMethodMain {
	padding: 23px 0px 0px;
	overflow: hidden;
	border-bottom: 1px dashed rgb(184,188,188);
}

.payMethodMain li {
	float: left;
	display: inline;
	width: 155px;
	height: 120px;
	padding: 0px 9px;
}

.payMethodMain li div {
	width: 180px;
	height: 56px;
	padding-bottom: 10px;
}

.payMethodMain li div input,.payMethodMain li div img {
	vertical-align: middle;
}

.payMethodMain li span {
	display: block;
	width: 190px;
	text-align: center;
	color: rgb(51,51,51);
}

.payBank {
	padding: 15px 0px 25px;
	border-bottom: 1px dashed rgb(215,215,215);
	overflow: hidden;
	clear: both;
}

.payBank li {
	float: left;
	display: inline;
	padding: 7px 3px 7px 8px;
	height: 42px;
	width: 160px;
}

.payBank li input,.payBank li img {
	vertical-align: middle;
}

.submitCollection {
	height: 60px;
	padding-top: 17px;
	text-align: center;
	width: 100%;
}

.bankicon {
	background-image: url('../images/bankicon.png');
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 40px;
	line-height: 40px;
	width: 128px;
	background-repeat: no-repeat;
	border: 1px solid rgb(227,227,227);
}

.ICBC {
	background-position: 0px -35px;
	vertical-align: middle;
}

.CMB {
	background-position: 0px -75px;
	vertical-align: middle;
}

.CCB {
	background-position: 0px -315px;
	vertical-align: middle;
}

.BOC {
	background-position: 0px -515px;
	vertical-align: middle;
}

.ABC {
	background-position: 0px -475px;
	vertical-align: middle;
}

.COMM {
	background-position: 0px -595px;
	vertical-align: middle;
}

.PSBC {
	background-position: 0px -395px;
	vertical-align: middle;
}

.CEB {
	background-position: 0px -435px;
	vertical-align: middle;
}

.SPDB {
	background-position: 0px -355px;
	vertical-align: middle;
}

.GDB {
	background-position: 0px -275px;
	vertical-align: middle;
}

.CITIC {
	background-position: 0px -195px;
	vertical-align: middle;
}

.CIB {
	background-position: 0px -3360px;
	vertical-align: middle;
}

.SDB {
	background-position: 0px -235px;
	vertical-align: middle;
}

.CMBC {
	background-position: 0px -115px;
	vertical-align: middle;
}

.SPABANK {
	background-position: 0px -1875px;
	vertical-align: middle;
}

.BJBANK {
	background-position: 0px -3235px;
	vertical-align: middle;
}

.BEA_D {
	background-position: 0px -155px;
	vertical-align: middle;
}

.xbankicon {
	background-image: url('../images/xbankicon.png');
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 40px;
	line-height: 40px;
	width: 128px;
	background-repeat: no-repeat;
	border: 1px solid rgb(227,227,227);
}

.cft8001 {
	background-position: 0px -400px;
	vertical-align: middle;
}

.CMB_C {
	background-position: 0px -40px;
	vertical-align: middle;
}

.ICBC_C {
	background-position: 0px 0px;
	vertical-align: middle;
}

.CCB_C {
	background-position: 0px -80px;
	vertical-align: middle;
}

.CMBC_C {
	background-position: 0px -320px;
	vertical-align: middle;
}

.CIB_C {
	background-position: 0px -280px;
	vertical-align: middle;
}

.COMM_C {
	background-position: 0px -160px;
	vertical-align: middle;
}

.CEB_C {
	background-position: 0px -200px;
	vertical-align: middle;
}

.GDB_C {
	background-position: 0px -240px;
	vertical-align: middle;
}

.BOC_C {
	background-position: 0px -120px;
	vertical-align: middle;
}

.BEA_C {
	background-position: 0px -360px;
	vertical-align: middle;
}

.TabDivul {
	border-bottom: 1px solid rgb(221,221,221);
	display: block;
	height: 36px;
	overflow: hidden;
	background-color: rgb(244,244,244);
}

.TabDivul li {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: rgb(221,221,221);
	border-image: none;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 36px;
	overflow: hidden;
	line-height: 36px;
	text-align: center;
	width: 167px;
	color: rgb(53,141,216);
}

.a-purple {
	background-color: rgb(121,55,139);
}

.am-init {
	border: medium none;
	color: rgb(255,255,255);
	cursor: pointer;
	font-size: 12px;
	overflow: hidden;
	padding: 1% 2%;
}

.DomainBox {
	clear: both;
	margin-bottom: 11px;
	margin-top: 11px
}

.wid213 {
	width: 213px;
}

.wid75 {
	width: 75px;
}

.buzhou1 {
	height: 131px;
	padding: 22px 20px 0px 8px;
	background: transparent url('../images/if_stepline.gif') repeat-x scroll 0px 111px;
	overflow: hidden;
}

.buzhou1 li {
	width: 281px;
	height: 33px;
	float: left;
	text-align: center;
	padding-top: 98px;
	background: transparent url('../images/if_step.gif') no-repeat scroll center 22px;
}

.buzhou1 li span {
	position: absolute;
	margin-top: -76px;
	margin-left: 18px;
	font: 18px/34px "Arial";
}

.buzhou1 li.current {
	color: rgb(247,82,9);
	background: transparent url('../images/if_stephover.gif') no-repeat scroll center 22px;
}

.mobile p,.mail p {
	padding-left: 27px;
	background: transparent url('../images/if_mobile_p.gif') no-repeat scroll 0px center;
	line-height: 26px;
}

.buzhou1 .current {
	color: rgb(247,82,9);
}

.ph {
	background: transparent url('../images/if_mobile.jpg') no-repeat scroll 0px center;
	height: 27px;
}

.btn07 {
	cursor: pointer;
	border: medium none;
	background: rgb(248,113,34) none repeat scroll 0% 0%;
	color: rgb(255,255,255);
	width: 120px;
	height: 24px;
	line-height: 24px;
}

.tb-childnode {
	width: 100%;
}

.tb-childnode td {
	text-align: left;
	width: 100%;
	padding: 12px 0px;
	border-right: 1px solid rgb(227,227,227);
}

.tb-childnode td a {
	display: inline-block;
	padding: 4px 6px;
	color: rgb(72,150,32);
	cursor: pointer;
}

.cred {
	color: #f00;
	border: 1px solid rgb(211,211,211);
	border-top: none;
}

#dmtao-title {
	background-color: rgb(72,150,32);
	color: rgb(255,255,255);
	font-size: 12px;
	text-align: center;
}

#dmtao-title a {
	display: inline-block;
	width: auto;
	padding: 4px 8px;
	height: 24px;
	line-height: 24px;
	cursor: pointer;
	background-color: rgb(72,150,32);
	color: rgb(255,255,255);
}

#dmtao-title a.on {
	color: rgb(72,150,32);
	background-color: rgb(255,255,255);
	border-top: 2px solid rgb(72,150,32);
	height: 24px;
}

#dmtao-title a {
	color: rgb(255,255,255);
}

#dmpai-account {
	border: 1px solid rgb(227,227,227);
	height: 50px;
	line-height: 50px;
	margin-bottom: 6px;
	padding-left: 6px;
}

#dmpai-account span {
	display: inline-block;
	margin: 0px auto;
}

#dmpai-account span b {
	color: rgb(255,0,0);
}

.table6 {
	margin-top: 10px;
	border-left: 1px solid rgb(227,227,227);
	border-top: 1px solid rgb(227,227,227);
}

.tb-inchild {
	width: 100%;
}

.table6 th,.table6 td {
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	padding: 0px 6px;
}

.table6 th {
	background-color: #f0f0f0;
}

a.blue {
	color: #0000ff;
}

.tb-childnode td a.on {
	background-color: #489620;
	color: #fff;
}

.hidf {
	display: none;
}

.tb-myput td {
	padding-left: 360px;
}

.borchild {
	border-left: 1px solid rgb(227,227,227);
	border-bottom: 1px solid rgb(227,227,227);
}

input:focus {
	outline: medium none;
}

.answerquestions_mentionask {
	text-align: left;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "microsoft yahei";
	color: rgb(125,125,125);
}

.answerquestions_mentionask a {
	color: rgb(125,125,125);
	font: 20px bold;
}

.answerquestions_mentionask .height {
	padding-top: 30px;
	line-height: 35px;
	padding-left: 10px;
	padding-right: 10px;
}

.answerquestions_mentionask .text {
	line-height: 60px;
	height: 60px;
	text-decoration: none;
	background-color: rgb(247,247,247);
	border-radius: 5px;
	border: 1px solid rgb(220,220,220);
	text-align: left;
	text-indent: 10px;
	overflow: hidden;
	font-size: 1.5em;
	margin-bottom: 20px;
}

.answerquestions_mentionask .text2 {
	width: 130px;
	float: left;
}

.answerquestions_mentionask .text .answerquestions_mentionask_out01 {
	width: 520px;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	background: transparent url('../images/sub_arror.jpg') no-repeat scroll 498px 27px;
	display: block;
	text-align: left;
	color: rgb(125,125,125);
}

.answerquestions_mentionask .text .domain_registration_down_hover {
	border: 1px solid rgb(220,220,220);
	position: absolute;
	z-index: 8;
	line-height: 30px;
	background-color: rgb(247,247,247);
	border-radius: 5px;
	width: 745px;
	margin-top: 1px;
	padding-bottom: 20px;
	font-weight: normal;
	margin-left: 130px;
}

.answerquestions_mentionask .text .domain_registration_down_hover li {
	margin: 0px 15px;
	border-bottom: 1px solid rgb(230,230,230);
	font-family: "microsoft yahei";
	line-height: 60px;
}

.answerquestions_mentionask .left1 .domain_registration_down_hover {
	border: 1px solid rgb(220,220,220);
	position: absolute;
	z-index: 5;
	line-height: 40px;
	background-color: rgb(247,247,247);
	border-radius: 5px;
	width: 430px;
	margin-top: 1px;
	padding-bottom: 20px;
	font-weight: normal;
	font-size: 1.5em;
}

.answerquestions_mentionask .left1 .domain_registration_down_hover li {
	margin: 0px 15px;
	border-bottom: 1px solid rgb(230,230,230);
	font-family: "microsoft yahei";
	line-height: 50px;
}

.answerquestions_mentionask span {
	float: left;
}

.answerquestions_mentionask .text_01 .answerquestions_mentionask_out01 {
	width: 430px;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	border-radius: 5px;
	border: 1px solid rgb(220,220,220);
	background: rgb(247,247,247) url('sub_arror.jpg') no-repeat scroll 230px 27px;
	text-align: left;
	display: block;
	text-indent: 10px;
	font-size: 1.5em;
	color: rgb(125,125,125);
}

.answerquestions_mentionask .left1 {
	float: left;
}

.answerquestions_mentionask .text_01 {
	overflow: hidden;
	margin-bottom: 20px;
}

.answerquestions_mentionask ._over1 {
	line-height: 60px;
	text-decoration: none;
	background-color: rgb(247,247,247);
	border-radius: 5px;
	border: 1px solid rgb(220,220,220);
	text-align: left;
	text-indent: 10px;
	overflow: hidden;
	margin-bottom: 20px;
}

.answerquestions_mentionask .text_over {
	text-decoration: none;
	text-indent: 0px;
	overflow: hidden;
	color: rgb(237,112,23);
	width: 780px;
	float: left;
	padding-bottom: 5px;
	height: auto;
}

.answerquestions_mentionask ._over2 {
	width: 90px;
	font-size: 1.5em;
}

.answerquestions_mentionask .main_div_domain_search_inp_input1 {
	border: 0px solid rgb(247,247,247);
	color: rgb(125,125,125);
	height: 150px;
	border-radius: 5px;
	line-height: 60px;
	width: 780px;
	text-indent: 10px;
	background-color: rgb(247,247,247);
	font-family: "microsoft yahei";
	font-weight: normal;
	font-size: 1.5em;
}

.answerquestions_mentionask .main_div_domain_search_inp_inputt1 {
	border: 0px solid rgb(247,247,247);
	color: rgb(125,125,125);
	height: 58px;
	border-radius: 5px;
	width: 410px;
	text-indent: 10px;
	font-family: "microsoft yahei";
	background-color: rgb(247,247,247);
	font-size: 1.5em;
}

#_yuming,#_FTP,#_youxiang,#_ip,#_shujuku {
	display: none;
}

.tb-account td {
	padding-left: 300px;
}

.tb-dmremind td {
	padding-left: 490px;
}

.tb-dmmodel td {
	padding-left: 558px;
}

.tb-saler td {
	padding-left: 110px;
}

.tb-buyer td {
	padding-left: 194px;
}

.tb-inchild th,.tb-inchild td {
	line-height: 24px;
	vertical-align: middle;
	padding: 4px 0;
	border-right: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
}

.icoTuijian {
	position: absolute;
	margin: -6px 0 0 3px;
	background: url('../images/ico_tuijian.gif') no-repeat scroll 0px 0px transparent;
	width: 28px;
	height: 20px;
}

.a-yellow {
	background-color: #dcc900;
}

.nice-select ul,.nice-select1 ul {
	width: 100%;
	display: none;
	position: absolute;
	left: -1px;
	top: 30px;
	overflow-x: hidden;
	background-color: #fff;
	overflow-y: scroll;
	_height: 200px;
	max-height: 240px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #e3e3e3;
	z-index: 9999;
}

.nice-select1 {
	width: 130px;
	padding: 0px 6px;
	height: 30px;
	line-height: 30px;
	border: 1px solid rgb(204,204,204);
	float: left;
	position: relative;
	cursor: pointer;
	background: rgb(255,255,255) url('../images/a2.jpg') no-repeat scroll right center;
}

.payMethod {
	border: 1px solid #dddddd;
	cursor: pointer;
}

.ab-red {
	background-color: #f81a17;
}

#public_content {
	position: relative;
	margin: 0px auto;
	width: 978px;
	overflow: hidden;
	background: rgb(255,255,255) none repeat scroll 0% 0%;
	border-left: 1px solid rgb(234,234,234);
	border-right: 1px solid rgb(234,234,234);
}

#rules {
	width: 940px;
	padding-left: 20px;
	margin-top: 20px;
}

#rules h1 {
	font-size: 36px;
	text-align: center;
}

.rule-title {
	margin-bottom: 20px;
}

.rule-title dt {
	border-bottom: 2px solid rgb(204,51,51);
	color: rgb(204,51,51);
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 4px;
}

.rule-title dd {
	color: rgb(51,51,51);
	font-size: 16px;
	padding: 6px;
}

.rule-title dd a {
	color: rgb(51,0,255);
	font-size: 16px;
	padding: 6px;
}

.rule-detail dt {
	border-bottom: 2px solid rgb(204,51,51);
	color: rgb(204,51,51);
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 4px;
	padding-top: 4px;
}

.rule-detail dd {
	color: rgb(51,51,51);
	font-size: 14px;
	padding: 6px;
	line-height: 30px;
}

.rule-detail dd table {
	border-left: 1px solid rgb(221,221,221);
	border-top: 1px solid rgb(221,221,221);
	width: 400px;
}

.rule-detail dd table th,.rule-detail dd table td {
	text-align: center;
	border-right: 1px solid rgb(221,221,221);
	border-bottom: 1px solid rgb(221,221,221);
	height: 30px;
	line-height: 30px;
}

.fl_meg {
	position: absolute;
	margin-left: 5px;
	display: inline-block;
	background: url('../images/ico3.png') no-repeat scroll 0 0 transparent;
	width: 106px;
	height: 44px;
	color: #dd8935;
	line-height: 17px;
	font-size: 12px;
	padding: 3px 7px 3px 18px;
}

#dmpai-title {
	background-color: #79378B;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

#dmpai-title a.on {
	color: #79378B;
	background-color: #fff;
	border-top: 2px solid #79378B;
	height: 24px;
}

#dmpai-title a {
	display: inline-block;
	width: auto;
	padding: 4px 8px;
	height: 24px;
	line-height: 24px;
	cursor: pointer;
	background-color: #79378B;
	color: #fff;
}

.recharge {
	background: url("../images/ico5.gif") no-repeat scroll 0 0 transparent;
	display: inline-block;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	width: 79px;
}

.recharge:hover {
	background-position: 0 -50px;
	color: #fff
}

.yzm li {
	display: inline;
	float: left;
	height: 20px;
	padding: 0 9px;
	width: 80px
}

.nice-select input,.nice-select1 input {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: none;
	cursor: pointer;
}

.buzhou li.current {
	color: rgb(247,82,9);
	background: transparent url('../images/if_stephover.gif') no-repeat scroll center 22px;
}

.buzhou li {
	position: relative;
	width: 215px;
	height: 33px;
	float: left;
	text-align: center;
	padding-top: 98px;
	background: transparent url('../images/if_step.gif') no-repeat scroll center 22px;
}

.buzhou li span {
	position: absolute;
	margin-top: -76px;
	margin-left: 18px;
	font: 18px/34px "Arial";
}

.buzhou {
	height: 131px;
	padding: 22px 20px 0px 8px;
	background: transparent url('../images/if_stepline.gif') repeat-x scroll 0px 111px;
	overflow: hidden;
}

.buzhou li span.Number {
	margin-left: 25px;
}

.table5 textarea {
	height: 80px;
}
/*666666666666666666666666666666666666*/
.eitpo{
	width:100%; position:relative; clear:left; 
	color: #333;
    font-family: "Microsoft Yahei",Arial,tahoma,arial !important;
    font-size: 12px;
    font-style: normal !important;
    font-variant: normal !important;
    line-height: 2;
}
.cl::after,.clearfix::after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.payMethodMain li span a{
	color: #333;
    text-decoration: none;
}
#bubblebox .clearfix{
	list-style: none;
}


#shame .managerMainPlate1 .payMethod h3{
	background: #fff;
	color: rgb(255, 127, 35)
}
#shame .eitpo dl.WarmTips{
	margin-left: 0px
}
.inputStyle2{
	margin-left: 0px
}
.inputStyle2 em.inputTitle1{
	width: auto;
	padding-left: 0px
}
